.blogContainer .populartitle{
    padding-left: 1.5rem;
}
.blogContainer .popularblogs, .blogContainer .recentblogs{
    margin-left: 1rem;
}
.blogContainer .textAndTitle{
    max-width: 1000px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    padding-top: 1rem;
    padding-bottom: 1rem;
    color: var(--greengrayhue-1);
}
.blogContainer .textAndTitle .textblog{
    line-height: 160%;
    width: 80%;
}
.blogContainer .textAndTitle .boldblog{
    font-weight: bolder;
}
.blogContainer .textAndTitle .blogtitle{
    font-size: 3rem;
    width: 80vw;
    text-align: center;
    z-index: 2;
    padding-bottom: 1rem;
}
.blogContainer .bloghighlights {
    margin: 2rem auto;
}
.blogContainer .textAndTitle .textblog img{
    /*height: 300px;*/
    width: 100%;
    border-radius: 30px;
    margin: 2rem auto;
    display: flex;
}
.blogContainer .moveAbleItems .blogsGrid{
    display: grid;
    max-width: 1200px;
    grid-template-columns: repeat(3, 1fr);
    overflow: hidden;
    margin-top: 2rem;
    margin-bottom: 2rem;
    margin-left: auto;
    margin-right: auto;


}
 .blogContainer .moveAbleItems .mainFade {
    top: 0rem;
}
 .blogContainer .moveAbleItems .paragraphs {
    text-align: left;
    margin-left: 4rem;
    margin-top: -2rem;
}
.immoveavleitems .recentblogs, 
.immoveavleitems .popularblogs {
    max-width: 1200px;
    overflow: hidden;
    margin-top: 2rem;
    margin-bottom: 2rem;
    margin-left: auto;
    margin-right: auto;
}
.blogContainer .serveback{
    width: 100%;
    left: 0;
    transform: scale(1);
}
.blogContainer .NewsLetter .subscribeback{
    z-index: -1;
    mix-blend-mode: darken;
}
.blogContainer .swiper {
    max-width: 1400px;
}
.blogContainer  .paginationContainer {
    display: flex;
    justify-content: center;
    top: -2rem;
    position: relative;
  }
  
  .blogContainer  .paginationContainer button {
    border: none;
    background-color: var(--greengrayhue-3);
    border: 1px solid var(--greengrayhue-3);
    /* padding: 3px 7px; */
    width: 25px;
    height: 25px;
    border-radius: 50%;
    color: var(--green-002);
    font-size: 12px;
    /* font-weight: 800; */
    margin: 0 6px;
    cursor: pointer;
    transition: all 0.3s ease;
}
  
  .blogContainer  .paginationContainer button.active {
    background-color: var(--green-A01);
    font-weight: bold;
    border: none;
    color: var(--green-002);
  }
  
  .blogContainer  .paginationContainer button:hover {
    background-color: var(--greengrayhue-2);
  }


@media screen and (max-width: 1000px){
    .blogContainer .textAndTitle .blogtitle{
        font-size: 2rem;
        padding-bottom: 2rem;
    }
    .blogContainer .moveAbleItems .blogsGrid{
        grid-template-columns: repeat(2, 1fr);
    
    }
 

}


@media screen and (max-width: 550px){
.blogContainer .main-image img {
    right: 110%;
}
.blogContainer .moveAbleItems .paragraphs {
    margin-top: 3rem;
    text-align: justify;
    margin-left: 2rem;
}
.blogContainer .moveAbleItems .mainFade {
    top: 4rem;
}
.blogContainer .moveAbleItems .blogsGrid{
    grid-template-columns: repeat(1, 1fr);

}
.blogContainer .popularblogs, .blogContainer .recentblogs {
    margin-left: 0rem;
    margin-top: 4rem;
    margin-bottom: 1rem;
}
.blogsGrid .bloghighlights {
    display: flex;
    margin: 2rem auto;
}
.blogContainer .populartitle{
    text-align: center;
    padding-left: 0;
}
.blogContainer .textAndTitle .textblog {
    width: 80%;
    text-align: justify;
}
.blogContainer .textAndTitle .blogtitle{
    font-size: 1.75rem;
    margin-top: 1rem;

}
.blogContainer .textAndTitle .textblog img {
    height: auto; 
    width: 100%;
    border-radius: 10px;
    margin: 2rem auto;
    display: flex;
}
}