.question-content{
    box-sizing: border-box;
    margin: 0.5rem 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 15px 12px 15px;
    width: 390px;
    background: var(--green-002);
    border: 1px solid rgba(0, 0, 0, 0.24);
    box-shadow: 0px 0px 12px rgba(0, 40, 0, 0.13);
    border-radius: 10px;
    cursor: pointer;
    transition: transform 0.3s ease;
 
}

  
  .question-content:active {
    border: 1px solid var(--green-A01);
  }

.question-content h5{
    font-weight: 600;
    font-size: 14px;
    line-height: 150%;
    /* identical to box height, or 19px */
    color: var(--green-B01);
}
.question-content svg{
    font-size: small;
    color: var(--greengrayhue-1);
    cursor: pointer;
}
.question-content .questionnaire{
    display: flex;
    flex-direction: row;
    width: -webkit-fill-available;
    align-items: center;
    justify-content: space-between;
}
.question-content .answer{
    padding-top: 0.5rem;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 140%;
    color: var(--greengrayhue-1);
}















@media screen and (max-width: 900px) {

    .question-content {
width: 90vw;
    }
}







