.TermsAndConditions .termshead {
    width: 100vw;
    height: 300px;
    background-color: var(--green-003);
    DISPLAY: FLEX;
    justify-content: center;
    align-items: center;
    /* margin-top: 2rem; */
    padding-top: 5rem;
    z-index: -2;
}
.TermsAndConditions .termshead h1{
    line-height: 140%;
    width: 90vw;
    text-align: center;
    color: var(--green-B07);
}
.TermsAndConditions .termsContainer{
  
    width: 90vw;
    display: flex;
    flex-direction: row;
    justify-content: baseline;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    box-sizing: border-box;
}

.TermsAndConditions .termsContainer .largescreenlinks{
    display: none;
    position: absolute;
    top: 1rem;
    background: var(--green-002);
    width: auto;
    padding: 0rem;
    z-index: -1;
    left: -1.5rem;
}
.TermsAndConditions .termsContainer .largescreenlinks ul{
  margin-top: 1rem;
}
.TermsAndConditions .termsContainer a{
    color: var(--green-003);
}
.TermsAndConditions .termsContainer a:hover{
    color: var(--green-B03);
}

.TermsAndConditions .termsContainer .fixed{
    top: 6.16rem;
    display: none;
    z-index: 0;
   
    position: fixed;
    background: var(--green-002);
    width: auto;
    padding: 1rem 1rem 1rem 6rem;
    left: -4rem;
}

.TermsAndConditions .TC{
    padding-top: 1.5rem;
    margin-top: 0;
}


@media screen and (min-width: 800px) {
    .TermsAndConditions .termsContainer .largescreenlinks{
        display: block;

    }
    .TermsAndConditions .termsContainer .TC{
        width: 60vw;
        margin-left: 19rem;
    }
}
@media screen and (max-width: 700px) {
    .TermsAndConditions .termshead h1 {
        font-size: 27px;
    }
    .TermsAndConditions .TC{
        padding-top: 1.5rem;
        text-align: justify;
        line-height: 140%;
        font-size: 15px;
    }
}