.packagesCard{
    display: flex;
    flex-direction: column;
    margin-right: auto;
    margin-left: auto;
    margin-top: 3rem;
    text-align: left;

    box-sizing: border-box;

width: 300px;
height: 420px;

background: var(--green-002);
box-shadow: 0px 0px 64px rgba(30, 30, 30, 0.25);
border-radius: 10px;
overflow: hidden;
border: 1px solid var(--green-002);
transition: all ease 500ms;
position: relative; /* Added */ 
}
.packagesCard:hover{
    border: 1px solid var( --greengrayhue-3);
    box-shadow: none;
}




.packagesCard .imageCaption{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end; /* Updated */
width: inherit;
overflow-y: clip;
position: relative;
}

.packagesCard .prevButton,
.packagesCard .nextButton {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 26px;
  height: 26px;
  background: rgba(0, 128, 0, 0.344);
  color: var(--green-B07);
  border: 1px solid var(--green-B07);
  border-radius: 50%;
  font-size: 18px;
  cursor: pointer;
  transition: all 0.3s ease;
  z-index: 1;
}

.packagesCard .prevButton:hover,
.packagesCard .nextButton:hover {
    background: rgba(0, 128, 0, 0.63);
  color: var(--green-B07);
  border: 1px solid var(--green-B07);
}
.packagesCard .prevButton:active,
.packagesCard .nextButton:active {
    background: rgba(0, 128, 0, 0.982);
  color: var(--green-B07);
  border: 1px solid var(--green-B07);
}

.packagesCard .prevButton {
  left: 9px;
}

.packagesCard .nextButton {
  right: 9px;
}
.packagesCard .imageCaption .packagesImage{
    height: 190px;
width: inherit;
}
.packagesCard .imageCaption p{
    position: absolute;
    font-size: 11px;
    padding-right: 0.5rem;
    margin-top: 10.75rem;
    font-weight: 500;
    display: flex;
    top: auto; /* Updated */
    background: #00000063;
    padding: 0 1rem;
    bottom: 0rem;
    border-radius: 5px 0 0;
  right: 0; /* Updated */
    z-index: 2;
    text-align: right;
    color: var(--green-B07);
}





.packagesCard .packagesText{
    display: flex;
    flex-direction: column;
    margin-left: 1rem;
    margin-right:1rem;
}
.packagesCard .packagesText .packageTitle{
    font-weight: 600;
    font-size: 18px;
    line-height: 140%;
    padding-top: 0.125rem;
    color: var(--green-B02);
}
.packagesCard .packagesText .themeActivities{
    font-weight: 400;
    font-size: 10px;
    line-height: 12px;
    margin-bottom: 0.5rem;
    color: var(--greengrayhue-2);
}
.packagesCard .packagesText .packagePrice{
    font-weight: 700;
    font-size: 34px;
    line-height: 24px;
    color: var(--green-B03);
    padding-bottom: 0.25rem;
    padding-top: 0.25rem;
}
.packagesCard .packagesText .packagePeople{
    font-weight: 300;
    font-size: 10px;
    line-height: 15px;
    color: var(--greengrayhue-2);
    display: flex;
    align-items: center;
}
.packagesCard .packagesText svg{
    margin-right: 0.5rem;
}
.packagesCard .packagesText .middlecolumns .daysNights{
    font-weight: 500;
    font-size: 11px;
    line-height: 100%;
    color: var(--greengrayhue-1);
    display: flex;
    align-items: center;
 
}
.packagesCard .packagesText .highlights{
    font-weight: 600;
    font-size: 13px;
    margin-bottom: 0.25rem;
    line-height: 15px;
    color: var(--greengrayhue-1);
}

.packagesCard .packagesText .middlecolumns{
    display: flex;
    flex-direction: row;
    align-items: self-start;
    justify-content: space-between;
    margin-bottom: 0.5rem; 
    margin-top: 0.5rem;
}
.packagesCard .packagesText .middlecolumns div{
    display: flex;
    flex-direction: column;
}
.packagesCard .packagesText .middlecolumns ul{
    display: flex;
    flex-direction: column;
}
.packagesCard .packagesText .middlecolumns ul li{
    font-size: 12px;
    list-style: disc;
    list-style-type: none;
    font-weight: 400;
    color: var(--greengrayhue-1);
}

.packagesCard .packagesText .middlecolumns ul li::before {
    content: '\2713'; /* Unicode character for tick */
    color: green;
    display: inline-block;
    width: 1rem;
    margin-left: -1rem;
}
.packagesCard .bookpackage {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: absolute; /* Updated */
  bottom: 0; /* Added */
    font-weight: bolder;
    width: 100%;


height: 36px;
color: var(--green-B07);
background: var(--green-B03);
transition: all ease-in-out 500ms;
cursor: pointer;
}
.packagesCard .bookpackage:hover {
color: var(--green-002);
}
.packagesCard .bookpackage:hover svg{
   transform: translateX(0.3rem);
}

.packagesCard .bookpackage:active svg{
   transform: translateX(0.6rem);
}

.availability{
    font-size: 11px;
    font-weight: 500;
    color: var(--greengrayhue-1);
}