/*First CALIG*/
@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');

/*Nice Calig*/
@import url('https://fonts.googleapis.com/css2?family=Tangerine:wght@700&display=swap');

/* main.css */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;700;800;900&display=swap');




*, *::before, *::after {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;

}
:root{
  /*COLORS VARIABLES*/
  --green-A01: #006400; /*DefaultState - */
  --green-002: #F9FDF9;  /*Background - */ 
  --green-003: #002800; /* DarkModeBG - */

  --green-B01: #014101; /**/
  --green-B02: #005300; /**/
  --green-B03: #0D980D; /**/
  --green-B04: #27CA27; /**/
  --green-B05: #6BE56B; /**/
  --green-B06: #C3FAC3; /**/
  --green-B07: #F4F7F4;

  --greengrayhue-1: #2B2F2B; /**/
  --greengrayhue-2: #616661; /**/
  --greengrayhue-3: #8F978F; /**/
  --greengrayhue-4: #CCD3CC; /**/





  /*FONTS*/

  --smallest: 11px; 
  --smallscreen-paragraph: 13px; 
  --mediumscreen-paragraph: 14.5px; 
  --largescreen-paragraph: 16px;
  --extralargescreen-paragraph: 18px;
  --extraextralargescreen-paragraph: 24px;
  --threeextralargescreen-paragraph: 36px;


}
html {
  scroll-behavior: smooth;
}
body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  background-color: var(--green-002);
  letter-spacing: 0.01rem;
}
a{
  cursor: pointer;
}

.swiper-button-next, .swiper-button-prev{
  color: var(--green-B07);
  /*display: none;*/
}
.swiper-pagination-bullet{
  border: 1px solid white;
}
.swiper-pagination-bullet-active{
  background: #27CA27;
  border: 1px solid white;
}
button{
  cursor: pointer;
}
.line{
  border: 0.5px solid var(--greengrayhue-4);
  width: 100%;
  margin-top: 2rem;
}
